mixin post(info)
    a(href=`/postings/${info.id}`)
        div 
            button ❤
        div 
            span #{info.meta.likes} likes
        div 
            span=info.owner
            span  #{info.caption}
        div 
            if !info.updatedAt
                span=info.createdAt
            else 
                span updated at #{info.updatedAt}
        hr