doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
    body 
        h1=pageTitle 
        nav 
            ul 
                if loggedIn
                    li 
                        a(href="/users/logout") Log Out
                    li 
                        a(href=`/users/${loggedInUser._id}`) #{loggedInUser.name}의 프로필
                    li 
                        a(href="/users/edit") Edit Profile
                else 
                    li 
                        a(href="/join") Join 
                    li 
                        a(href="/login") Login
                li 
                    a(href="/") Home
                li
                    a(href="/postings/upload") Upload Posting 
                li 
                    a(href="/search") Search
                
        block content
    include partials/footer